<div class="home-container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1434817247550-689f7c23be58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1706&q=80)">
    <div class="topnav">
      <a class="home active" href="#home">HOME</a>
      <a class="contact" href="#contact">CONTACT</a>
      <a class="about" href="#about">ABOUT</a>
    </div>

    <div class="banner-container">
    <h2>MISTER COCKTAIL</h2>
    </div>
  </div>

  <h3 class="text-center m-3"><b>COCKTAILS</b></h3>
 <div class="card-container">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="home-card">
          <%= cl_image_tag cocktail.photo.key, height: 150, width: 200, crop: :fill %>
          <div class="home-card-container">
            <h6><b><%= cocktail.name %></b></h6>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="col text-center p-4">
    <button type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-md"><i class="fas fa-plus"></i></button>
  </div>

  <div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="myMediumModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content p-4">
        <%= simple_form_for [ Cocktail.new ] do |f| %>
          <%= f.input :name %>
          <%= f.input :photo, as: :file %>
          <%= f.submit "Add", class: "btn btn-outline-dark" %>
        <% end %>
      </div>
    </div>
  </div>


  <!-- <i class="fas fa-plus"></i> -->

  <div class="footer">
    <div class="footer-links text-align-center">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>

